body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.logo {
  padding: 10px;
  height: 70px;
  border-radius: 25px;
}

main {
  margin: 0px auto 50px auto;
  text-align: center;
  background-color: #27b7c1;
  background-size: cover;
  text-align: center;
}

h1 {
  padding-top: 150px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 64px;
  font-weight: 300;
  letter-spacing: 1.1px;
  text-align: center;
  color: #ffffff;
  margin: auto;
}

h3 {
  font-family: Work Sans;
  font-weight: 500;
  line-height: 1.29;
  color: #27c19e;
  padding-left: 5px;
}

p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.36;
  text-align: left;
  color: #4a4a4a;
  padding-left: 5px;
}

form {
  margin-top: 50px;
  height: 100px;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

.weather h2 {
  position: relative;
  padding: 5px;
  font-family: Montserrat;
  font-size: 18px;
  line-height: 0.78;
  text-align: left;
  color: #4a4a4a;
}

.container {
  max-width: 900px;
  margin: auto;
  visibility: hidden;
}

.weather {
  width: 200px;
  height: 260px;
  padding: 25px;
  font-size: 25px;
  -webkit-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.weathericon {
  width: 150px;
  height: 150px;
}

#destination {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  font-weight: 600;
  letter-spacing: 0.9px;
  text-align: left;
  color: #27b7c1;
}

.sectiontitle {
  height: 70px;
  width: 300px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sectiontitle h2 {
  font-family: Montserrat;
  font-size: 25px;
  font-weight: 300;
  letter-spacing: 3.4px;
  text-align: left;
  color: #660505;
}

#weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  min-height: 350px;
}

#city {
  width: 286px;
  height: 46px;
  border-radius: 4px;
  border: solid 2.5px #ffffff;
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 0.4px;
  text-align: left;
  color: #0e0c0c;
}

#button {
  width: 140px;
  height: 50px;
  border-radius: 4px;
  background-color: #27b7c1;
  font-size: 18px;
  font-weight: 600;
  line-height: 0.94;
  letter-spacing: 0.5px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 860px) {
  main {
    background-color: #27b7c1;
  }
  h1 {
    padding-top: 80px;
    font-size: 32px;
  }
  form {
    margin-top: 30px;
    padding-bottom: 10px;
  }
  #venues, #weather {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .venue, .weather {
    margin: 10px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .weather {
    padding: 10px 20px;
    height: 100%;
  }
  .sectiontitle, .sectiontitle h2, #destination {
    margin: auto;
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */